<a href="https://colab.research.google.com/github/KVenkataPavani/NumPy-Numerical_Python/blob/main/Numerical_Operations_on_array.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

#Elementwise Operations

In [3]:
a = np.array([1, 2, 3, 4]) #create an array
a + 1

array([2, 3, 4, 5])

In [5]:
a ** 2

array([ 1,  4,  9, 16])

**Arithmetic operators elementwise**

In [6]:
b = np.ones(4) + 1
a - b

array([-1.,  0.,  1.,  2.])

In [7]:
a * b

array([2., 4., 6., 8.])

In [8]:
# Matrix multiplication

c = np.diag([1, 2, 3, 4])
print(c * c)
print("*****************")
print(c.dot(c))

[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]
*****************
[[ 1  0  0  0]
 [ 0  4  0  0]
 [ 0  0  9  0]
 [ 0  0  0 16]]

**Comparisions**

In [9]:
a = np.array([1, 2, 3, 4])
b = np.array([5, 2, 2, 4])
a == b

array([False,  True, False,  True])

In [10]:
a > b

array([False, False,  True, False])

In [11]:
#array-wise comparisions
a = np.array([1, 2, 3, 4])
b = np.array([5, 2, 2, 4])
c = np.array([1, 2, 3, 4])

np.array_equal(a, b)

False

In [12]:
np.array_equal(a, c)

True

**Logical Operators**

In [13]:
a = np.array([1, 1, 0, 0], dtype=bool)
b = np.array([1, 0, 1, 0], dtype=bool)

np.logical_or(a, b)

array([ True,  True,  True, False])

In [14]:
np.logical_and(a, b)

array([ True, False, False, False])

**Transcendental Function**

In [15]:
a = np.arange(5)

np.sin(a)

array([ 0.        ,  0.84147098,  0.90929743,  0.14112001, -0.7568025 ])

In [16]:
np.log(a)

<ipython-input-16-89b6b8e53c58>:1: RuntimeWarning: divide by zero encountered in log
  np.log(a)

array([      -inf, 0.        , 0.69314718, 1.09861229, 1.38629436])

In [17]:
np.exp(a)   #evaluates e^x for each element in a given input

array([ 1.        ,  2.71828183,  7.3890561 , 20.08553692, 54.59815003])

**Mismatch in Shape**

In [18]:
a = np.arange(4)

a + np.array([1, 2])

ValueError: operands could not be broadcast together with shapes (4,) (2,)

#**Basic Reductions**

**Computing Sums**

In [19]:
x = np.array([1, 2, 3, 4])
np.sum(x)

10

In [20]:
#sum by rows and by columns

x = np.array([[1, 1], [2, 2]])
x

array([[1, 1],
       [2, 2]])

In [21]:
x.sum(axis=0)   #axis = 0 --> columns wise sum #first dimension

array([3, 3])

In [22]:
x.sum(axis=1)  #axis=1or-1 --> rows wise sum # (second dimension)

array([2, 4])

**Other Reductions**

In [23]:
x = np.array([1, 3, 2])
x.min()

1

In [ ]:
x.max()

In [24]:
x.argmin()# index of minimum element

0

In [25]:
x.argmax()# index of maximum element

1

**Logical Operators**

In [26]:
np.all([True, True, False])

False

In [27]:
np.any([True, False, False])

True

In [28]:
#Note: can be used for array comparisions
a = np.zeros((50, 50))
np.any(a != 0)

False

In [29]:
np.all(a == a)

True

In [30]:
a = np.array([1, 2, 3, 2])
b = np.array([2, 2, 3, 2])
c = np.array([6, 4, 4, 5])
((a <= b) & (b <= c)).all()

True

**Statistics**

In [31]:
x = np.array([1, 2, 3, 1])
y = np.array([[1, 2, 3], [5, 6, 1]])
x.mean()

1.75

In [32]:
np.median(x)

1.5

In [33]:
np.median(y, axis=-1) # last axis

array([2., 5.])

In [34]:
x.std()          # full population standard dev.

0.82915619758885

Example
* Data in populations.txt describes the populations of hares and lynxes (and carrots) in northern Canada during 20 years.

In [36]:
#load data into numpy array object
data = np.loadtxt('populations.txt')

In [37]:
data

array([[ 1900., 30000.,  4000., 48300.],
       [ 1901., 47200.,  6100., 48200.],
       [ 1902., 70200.,  9800., 41500.],
       [ 1903., 77400., 35200., 38200.],
       [ 1904., 36300., 59400., 40600.],
       [ 1905., 20600., 41700., 39800.],
       [ 1906., 18100., 19000., 38600.],
       [ 1907., 21400., 13000., 42300.],
       [ 1908., 22000.,  8300., 44500.],
       [ 1909., 25400.,  9100., 42100.],
       [ 1910., 27100.,  7400., 46000.],
       [ 1911., 40300.,  8000., 46800.],
       [ 1912., 57000., 12300., 43800.],
       [ 1913., 76600., 19500., 40900.],
       [ 1914., 52300., 45700., 39400.],
       [ 1915., 19500., 51100., 39000.],
       [ 1916., 11200., 29700., 36700.],
       [ 1917.,  7600., 15800., 41800.],
       [ 1918., 14600.,  9700., 43300.],
       [ 1919., 16200., 10100., 41300.],
       [ 1920., 24700.,  8600., 47300.]])

In [38]:
year, hares, lynxes, carrots = data.T #data.T --columns to variables
print(year)

[1900. 1901. 1902. 1903. 1904. 1905. 1906. 1907. 1908. 1909. 1910. 1911.
 1912. 1913. 1914. 1915. 1916. 1917. 1918. 1919. 1920.]

In [39]:
#The mean population over time
populations = data[:, 1:]
#data[:, 1:] -- [take all the rows , starting from 1 index : till end]
populations

array([[30000.,  4000., 48300.],
       [47200.,  6100., 48200.],
       [70200.,  9800., 41500.],
       [77400., 35200., 38200.],
       [36300., 59400., 40600.],
       [20600., 41700., 39800.],
       [18100., 19000., 38600.],
       [21400., 13000., 42300.],
       [22000.,  8300., 44500.],
       [25400.,  9100., 42100.],
       [27100.,  7400., 46000.],
       [40300.,  8000., 46800.],
       [57000., 12300., 43800.],
       [76600., 19500., 40900.],
       [52300., 45700., 39400.],
       [19500., 51100., 39000.],
       [11200., 29700., 36700.],
       [ 7600., 15800., 41800.],
       [14600.,  9700., 43300.],
       [16200., 10100., 41300.],
       [24700.,  8600., 47300.]])

In [40]:
#sample standard deviations
populations.std(axis=0)

array([20897.90645809, 16254.59153691,  3322.50622558])

In [41]:
#which species has the highest population each year?
np.argmax(populations, axis=1)

array([2, 2, 0, 0, 1, 1, 2, 2, 2, 2, 2, 2, 0, 0, 0, 1, 2, 2, 2, 2, 2])

# **Broadcasting**

Basic operations on numpy arrays (addition, etc.) are elementwise

This works on arrays of the same size. Nevertheless, Itâ€™s also possible to do operations on arrays of different sizes if NumPy can transform these arrays so that they all have the same size: this conversion is called broadcasting.

**tile()**

In [43]:
a = np.tile(np.arange(0, 40, 10), (3,2))
print(a)

print("*************")
a=a.T
print(a)

[[ 0 10 20 30  0 10 20 30]
 [ 0 10 20 30  0 10 20 30]
 [ 0 10 20 30  0 10 20 30]]
*************
[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]
 [ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [44]:
a = np.tile(np.arange(0, 40, 10), (3,1))
print(a)

print("*************")
a=a.T
print(a)

[[ 0 10 20 30]
 [ 0 10 20 30]
 [ 0 10 20 30]]
*************
[[ 0  0  0]
 [10 10 10]
 [20 20 20]
 [30 30 30]]

In [45]:
b = np.array([0, 1, 2])
b

array([0, 1, 2])

In [46]:
a + b

array([[ 0,  1,  2],
       [10, 11, 12],
       [20, 21, 22],
       [30, 31, 32]])

In [51]:
a = np.arange(0, 40, 10)
print(a.shape)
print(a) #here a is 1D array

(4,)
[ 0 10 20 30]

In [52]:
a = a[:, np.newaxis]  # adds a new axis -> 2D array
print(a)
print(a.shape)

[[ 0]
 [10]
 [20]
 [30]]
(4, 1)

In [54]:
print(a)
print("************")
print(b)
print("************")

print(a + b)

[[ 0]
 [10]
 [20]
 [30]]
************
[0 1 2]
************
[[ 0  1  2]
 [10 11 12]
 [20 21 22]
 [30 31 32]]

# **Array Shape Manipulation**

**Flattening**

In [55]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a.ravel() #Return a contiguous flattened array. A 1-D array, containing the elements of the input, is returned. A copy is made only if needed.

array([1, 2, 3, 4, 5, 6])

In [57]:
a = np.array([[1, 2, 3], [4, 5, 6]])
a.T #Transpose

array([[1, 4],
       [2, 5],
       [3, 6]])

In [58]:
a.T.ravel()

array([1, 4, 2, 5, 3, 6])

**Reshaping**

**The inverse operation to flattening:**

In [59]:
a = np.array([[1, 2, 3], [4, 5, 6]])
print(a.shape)
print(a)

(2, 3)
[[1 2 3]
 [4 5 6]]

In [60]:
b = a.ravel()
print(b)

[1 2 3 4 5 6]

In [61]:
b = b.reshape((2, 3)) #flaten one reshapes to original val;ue we give like 2 rows 3 columns
b

array([[1, 2, 3],
       [4, 5, 6]])

**Note :  reshape may also return a copy! sometimes**

In [62]:
b[0, 0] = 100 #we assigned value also the a matrix also changes here
a

array([[100,   2,   3],
       [  4,   5,   6]])

In [63]:
a = np.zeros((3, 2))
b = a.T.reshape(3*2)
b[0] = 50
a

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

#Adding a Dimension

Indexing with the np.newaxis object allows us to add an axis to an array

newaxis is used to increase the dimension of the existing array by one more dimension, when used once. Thus,

1D array will become 2D array

2D array will become 3D array

3D array will become 4D array and so on

In [64]:
z = np.array([1, 2, 3])
z

array([1, 2, 3])

In [65]:
z[:, np.newaxis]

array([[1],
       [2],
       [3]])

##**Dimension Shuffling**

In [66]:
a = np.arange(4*3*2).reshape(4, 3, 2)
#np.arange(24).reshape(4, 3, 2)

a.shape
#(4,3,2) 4 matrices with 3 rows and 2 columns

(4, 3, 2)

In [67]:
a

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])

In [69]:
a[0, 2, 1]
# 0 matrix 2nd row 1st column

5

In [71]:
a = np.arange(4)
print(a)
a.resize((8,))
print(a)

[0 1 2 3]
[0 1 2 3 0 0 0 0]

In [72]:
b = a
a.resize((4,))

ValueError: cannot resize an array that references or is referenced
by another array in this way.
Use the np.resize function or refcheck=False

**Sorting Data**

In [73]:
#Sorting along an axis:
a = np.array([[5, 4, 6], [2, 3, 2]])
b = np.sort(a, axis=1) #axis = 1 means row wise
b

array([[4, 5, 6],
       [2, 2, 3]])

In [74]:
#in-place sort
a.sort(axis=1)
a

array([[4, 5, 6],
       [2, 2, 3]])

In [75]:
#sorting with fancy indexing
a = np.array([4, 3, 1, 2])
j = np.argsort(a) #position of the indices after sorting
#index values after sorting will come
#sort array = 1,2,3,4
#index value of  2,3,1,0
j

array([2, 3, 1, 0])

In [76]:
a[j]

array([1, 2, 3, 4])